.txtbox{
    font-size: larger;
    color:black;
    border-bottom: 1px black solid;
    padding: 5px;
    margin-top:10px;
}
.iconbg{
    color:green !important;
    fill: green;    
}
.form-container{
    padding: 25px;
}
.headimg{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 200px;
}