.RestaurantAvatar{
    width: 100px;
    height: 100px;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.item{
    border: 0px !important;
    border-bottom-color: transparent !important;
    background-image: none !important;
    border-bottom: none !important;
}
img{
    
    border-radius: 5px !important;
}