<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title style="text-align: center;">{{restaurantName}}</ion-title>
    <!-- <ion-buttons slot="end">
      <ion-icon name="cart" style="margin-left: 15px;"></ion-icon>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-card fullscreen>
    <img src="https://cdn-images-fishry.azureedge.net/product/Value-Bucket-500x360-c5df670-kfc.png/xs" />
    <ion-card-header>
      <ion-card-title>KFC</ion-card-title>
      <ion-card-subtitle><p>PickUp Time - 12:30pm to 1am</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        
        <ion-item class="item">
          <ion-card expand="full" style="display: flex; flex-direction: column; margin: 0 !important; width: 100% !important;">
            
            <ion-item>
               
              <ion-avatar slot="start" class="RestaurantAvatar">
                <img src="https://cdn-images-fishry.azureedge.net/product/3-Pcs-Chicken-500x360-089b5c2-kfc.png" >
              </ion-avatar>
              <ion-label>
                <h3>Quarter Fried Chicken</h3>
                
                <p>Quantity : <ion-badge color="success">44</ion-badge></p>
                <ion-button color="success">+</ion-button>
                <ion-button color="danger">-</ion-button>
             </ion-label>
           </ion-item>
          </ion-card>
        </ion-item>
         
        <ion-item class="item">
          <ion-card expand="full" style="display: flex; flex-direction: column; margin: 0 !important; width: 100% !important;">
            
            <ion-item>
               
              <ion-avatar slot="start" class="RestaurantAvatar">
                <img src="https://cdn-images-fishry.azureedge.net/product/Krunch-500x360-a6056d0-kfc.png/xs" >
              </ion-avatar>
              <ion-label>
                <h3>Chicken Burger</h3>
                
                <p>Quantity : <ion-badge color="success">44</ion-badge></p>
                
                <ion-button color="success">+</ion-button>
                <ion-button color="danger">-</ion-button>

             </ion-label>
           </ion-item>
          </ion-card>
        </ion-item>

        <ion-item class="item">
          <ion-card expand="full" style="display: flex; flex-direction: column; margin: 0 !important; width: 100% !important;">
            
            <ion-item>
               
              <ion-avatar slot="start" class="RestaurantAvatar">
                <img src="https://cdn-images-fishry.azureedge.net/product/3-Pcs-Chicken-500x360-089b5c2-kfc.png" >
              </ion-avatar>
              <ion-label>
                <h3>Quarter Fried Chicken</h3>
                
                <p>Quantity : <ion-badge color="success">44</ion-badge></p>
                <ion-button color="success">+</ion-button>
                <ion-button color="danger">-</ion-button>
             </ion-label>
           </ion-item>
          </ion-card>
        </ion-item>
         
        <ion-item class="item">
          <ion-card expand="full" style="display: flex; flex-direction: column; margin: 0 !important; width: 100% !important;">
            
            <ion-item >
               
              <ion-avatar slot="start" class="RestaurantAvatar">
                <img src="https://cdn-images-fishry.azureedge.net/product/Krunch-500x360-a6056d0-kfc.png/xs" >
              </ion-avatar>
              <ion-label>
                <h3>Chicken Burger</h3>
                
                <p>Quantity : <ion-badge color="success">44</ion-badge></p>
                
                <ion-button color="success">+</ion-button>
                <ion-button color="danger">-</ion-button>

             </ion-label>
           </ion-item>
          </ion-card>
        </ion-item>

      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
