<ion-header>
  
</ion-header>

<ion-content>
  <div class="container">
    <div class="form-container">
    <img src="../../assets/imgs/app.png" class="headimg"/>
        <ion-input placeholder="Email" class="txtbox"><ion-icon name="mail" class="iconbg"></ion-icon></ion-input>
        <ion-input placeholder="Password" class="txtbox"><ion-icon src="../../assets/icon/lock.svg" class="iconbg"></ion-icon></ion-input> 
        <br>
        <br>
        <div class="no-border">
        <ion-checkbox color="secondary"></ion-checkbox>&nbsp;
        <ion-label> I Agree The <a>Term and Conditions</a></ion-label>
        </div>
        
        <div class="no-border">
        <ion-checkbox color="secondary"></ion-checkbox>&nbsp;
        <ion-label> I Agree The <a>Privacy Policy</a></ion-label>
        </div>
        <br>
        <ion-button color="success" expand="full">Register</ion-button>
        <p style="text-align: center;">Already have an account <a (click)="OpenSignInForm()">Sign In</a></p>
      </div>
  </div>
</ion-content>
