.txtbox{
    font-size: larger;
    color:black;
    border-bottom: 1px black solid;
    padding: 5px;
    margin-top:10px;
}
.iconbg{
    color:green !important;
    fill: green;    
}
.form-container{
    padding: 20px;
}
.headimg{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  height: 300px;
}
.no-border{
    padding: 5px;
    border-bottom:0px !important;
    display: flex;
    align-items: center;
}